body {
	align-items: flex-start;
	align-content: flex-start;
	background-color: #eee;
	color: #372e29;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	font-family: 'Lato', sans-serif;
}

.hidden {
	display: none;
}

.header {
	background-color: orange;
	border: 2px solid #ff8100;
	color: #fff;
	letter-spacing: 0.1em;
	margin: 3% auto 1% auto;
	padding: 2%;
	width: 90%;
}

h1 {
	font-size: 2.5em;
	font-weight: 300;
	margin: 0;
	padding: 0;
}

.tagline {
	color: #ff7400;
	margin: 0;
	padding: 0 2%;
}

.chat-window, .roster {
	background-color: #fff;
	border: 2px solid #c1c1c3;
	height: 20em;
	margin: 0 auto;
	padding: 1% 2%;
	width: 90%;
}

.chat-window, .roster-names {
	overflow-y: auto;
}

/*
.roster {
	background-color: #fff;
	border: 2px solid #c1c1c3;
	margin: 0.5% auto;
	padding: 1% 2%;
	width: 90%;
}*/

.rost-top {
	display: flex;
	justify-content: space-between;
}

.roster h3 {
	color: #a6917b;
	font-weight: 300;
}

.roster img, .chat-window img {
	cursor: pointer;
	height: 2em;
	margin: 0;
	width: 2em;
}

.chat-window img {
	float: right;
}

.msg-obj {
	margin-bottom: 0.5em;
}

.disp-user {
	color: orange;
}

.displ-msg {}

.update {
	color: #a6917b;
	margin: 1% auto;
}

.input-sect {
	background-color: orange;
	border: 2px solid #ff8100;
	font-size: 1.1em;
	margin: 0.5% auto 0 auto;
	padding: 1% 2%;
	width: 90%;
}

#username {
	color: #fff;
	letter-spacing: 0.1em;
	vertical-align: middle;
}

.input-sect input {
	padding: 0.5em 1em;
}

.input-sect .message {
	width: 50%;
}